@use 'sass:list';
@use 'sass:map';
@use 'sass:color';
@use '../scss-vars' as csv;

// prettier-ignore
$palette: (
  note:      (color: (#212121, #E0E0E0), bg: (#FFFFFF, #1E1E1E)),
  tip:       (color: (#616161, #B0B0B0), bg: (#F5F5F5, #262626)),
  info:      (color: (#424242, #B3B3B3), bg: (#F0F0F0, #2B2B2B)),
  quote:     (color: (#455a64, #b0bec5), bg: (#eceff1, #263238)),
  abstract:  (color: (#0288d1, #81d4fa), bg: (#e1f5fe, #012f45)),
  attention: (color: (#1e88e5, #64b5f6), bg: (#e3f2fd, #102a4c)),
  example:   (color: (#5e35b1, #9575cd), bg: (#ede7f6, #271b52)),
  hint:      (color: (#00897B, #4DB6AC), bg: (#E0F2F1, #003D3A)),
  success:   (color: (#388e3c, #81c784), bg: (#e8f5e9, #1b5e20)),
  question:  (color: (#f9a825, #ffd54f), bg: (#fffde7, #3e2f00)),
  caution:   (color: (#fb8c00, #ffcc80), bg: (#fff8e1, #3e2600)),
  warning:   (color: (#f57c00, #ffb74d), bg: (#fff3e0, #3d2600)),
  danger:    (color: (#d84315, #ef9a9a), bg: (#ffebee, #3c0000)),
  failure:   (color: (#d32f2f, #ef9a9a), bg: (#fee2e6, #3c0900)),
  bug:       (color: (#c31a1a, #e68381), bg: (#fddadd, #300000)),
  error:     (color: (#b71c1c, #ef5350), bg: (#fdd2d6, #300000)),
);

@mixin admonition-vars($isDark) {
  .#{csv.$prefix}-admonition {
    @each $type, $c in $palette {
      &-#{$type} {
        $idx: if($isDark, 2, 1);
        $text-color: list.nth(map.get($c, color), $idx);
        $bg-color: list.nth(map.get($c, bg), $idx);
        $border-color: color.mix($bg-color, $text-color, 60%);

        --md-admonition-color: #{$text-color};
        --md-admonition-bg-color: #{$bg-color};
        --md-admonition-border-color: #{$border-color};
      }
    }
  }
}

.#{csv.$prefix} {
  @include admonition-vars(false);
}

.#{csv.$prefix}-dark {
  @include admonition-vars(true);
}

.#{csv.$prefix}-preview {
  .#{csv.$prefix}-admonition {
    background-color: var(--md-admonition-bg-color);
    border: 1px solid var(--md-admonition-border-color);
    border-radius: var(--md-theme-radius-m);
    color: var(--md-admonition-color);
    display: flow-root;
    font-size: 14px;
    font-weight: 400;
    margin: 1rem 0;
    padding: 1em 1em 0.5em;
    page-break-inside: avoid;

    &-title {
      margin: 0;
      padding: 0;
      position: relative;
      font-weight: 700;
    }

    p {
      margin: 0.5em 0;
      padding: 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    & + p:empty,
    & + p:empty + p:empty {
      display: none;
    }
  }
}
