@use '../scss-vars.scss' as vars;

.#{vars.$prefix}-katex-block {
  text-align: center;
  margin: 20px;
}

.#{vars.$prefix}-katex-inline,
.#{vars.$prefix}-katex-block {
  display: none;
}

.#{vars.$prefix}-katex-inline[data-processed] {
  display: initial;
}

.#{vars.$prefix}-katex-block[data-processed] {
  display: block;
}
