.#{$prefix}-preview {
  a {
    color: var(--md-theme-link-color);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--md-theme-link-hover-color);
    }

    &:empty::before {
      content: attr(href);
    }
  }
}
