@use '../scss-vars' as csv;

@mixin quote-vars($isDark) {
  .#{csv.$prefix}-preview {
    --md-theme-quote-color: var(--md-theme-color);
    --md-theme-quote-border: none;
    --md-theme-quote-bg-color: inherit;
  }
}

.#{csv.$prefix} {
  @include quote-vars(false);
}

.#{csv.$prefix}-preview {
  blockquote {
    padding: 0 1em;
    color: var(--md-theme-quote-color);
    border-left: var(--md-theme-quote-border);
    background-color: var(--md-theme-quote-bg-color);
  }
}
