// show code row numer，显示代码行号
.#{$prefix}-scrn {
  span[rn-wrapper] {
    position: absolute;
    pointer-events: none;
    top: 1em;
    font-size: 100%;
    left: 0;
    width: 3em;
    letter-spacing: -1px;
    user-select: none;
    counter-reset: linenumber;

    & > span {
      display: block;
      pointer-events: none;
      counter-increment: linenumber;

      &::before {
        color: #999;
        display: block;
        padding-right: 0.5em;
        text-align: right;
        content: counter(linenumber);
      }
    }
  }

  pre {
    code {
      padding-left: 3.5em !important;
    }
  }
}
