.#{$theme-name} {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
    padding-left: 8px;
    padding-bottom: 0;
    margin-top: 35px;
    margin-bottom: 10px;
    // font-weight: 900;
    // font-family: serif;
    letter-spacing: 1px;
    color: var(--text);

    // &:hover {
    //   background-color: #fff;
    // }
  }
  h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 24px;
    position: relative;

    &::after {
      content: '';
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      position: absolute;
    }
  }
  h3 {
    font-size: 18px;
    padding-bottom: 0;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 15px;
  }
  h6 {
    margin-top: 5px;
  }
}
