.#{prefix}-katex-block {
  text-align: center;
  margin: 20px;
}

.#{prefix}-katex-inline,
.#{prefix}-katex-block {
  display: none;
}

.#{prefix}-katex-inline[data-processed] {
  display: initial;
}

.#{prefix}-katex-block[data-processed] {
  display: block;
}
