.#{$prefix}-mermaid {
  overflow-x: auto;

  &-loading {
    display: none;
  }

  &-error {
    color: #dc2626;
    text-align: center;
    padding: 20px;
  }
}

.mermaid {
  display: none;
}

.mermaid[data-processed] {
  display: initial;
}
