@import './scss-vars.scss';

@import './modules/code.scss';
@import './modules/heading.scss';
@import './modules/image.scss';
@import './modules/link.scss';
@import './modules/list.scss';
@import './modules/paragraph.scss';
@import './modules/quote.scss';
@import './modules/table.scss';

@mixin theme-vars($isDark) {
  .#{$theme-name} {
    --bg-color: rgba(224, 224, 224, 0.1);
    --blue: #37b2ff;
    --yellow: #feea1e;
    --orange: orange;
    --purple: #e699e6;
    --green: #a7ecad;
    --text: #{if($isDark, #c9d1d9, #333)};
    --area: #{if($isDark, #1a1a1a, #f8f8f8)};
    --line: #{if($isDark, #75787e, #adb0b8)};
    --border: #{if($isDark, rgb(78 78 78), rgb(245, 245, 247))};
    --border-blue: #{if($isDark, #2781b9, #37b2ff)};
    --table-bg-color: #{if($isDark, var(--area), #fff)};
  }
}

// 亮模式
.#{$prefix} {
  @include theme-vars(false);
}

// 暗模式
.#{$prefix}-dark {
  @include theme-vars(true);
}

.#{$theme-name} {
  @include common-style;

  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 15px;
  overflow-x: hidden;
  color: var(--text);
  position: relative;
  background-image: linear-gradient(
      90deg,
      rgba(217, 234, 251, 0.25) 3%,
      transparent 0
    ),
    linear-gradient(360deg, rgba(217, 234, 251, 0.25) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;

  hr {
    height: 1px;
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
    background-size: 4px 1px;
    background-image: linear-gradient(
      to left,
      var(--blue) 0%,
      var(--blue) 25%,
      transparent 50%
    );
  }

  input[type='checkbox'] {
    position: relative;

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      width: inherit;
      height: inherit;
      background: #f0f8ff;
      border: 1px solid #add6ff;
      border-radius: 2px;
      box-sizing: border-box;
      z-index: 1;
      position: absolute;
    }

    &:checked::after {
      content: '';
      top: 10%;
      left: 18%;
      width: 90%;
      height: 40%;
      border-left: 2px solid var(--blue);
      border-bottom: 2px solid var(--blue);
      color: var(--blue);
      z-index: 2;
      transform: rotate(-45deg);
      position: absolute;
    }
  }

  @media (max-width: 720px) {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
  }
}

[class*='arknights-theme #{$prefix}-scrn'] {
  span[rn-wrapper] {
    top: 26px;
  }
}
