@import '@vavt/data/src/assets/iconfont.css';

.export-pdf-content {
  height: calc(100% - 52px);
  margin-bottom: 20px;
  overflow: auto;
}

.export-pdf-content .md-editor-preview .md-editor-code pre code .md-editor-code-block {
  text-wrap: wrap;
}