@import './scss-vars.scss';
@import './css-vars.scss';

@import './modules/admonition.scss';
@import './modules/mermaid.scss';
@import './modules/katex.scss';
@import './modules/code.scss';
@import './modules/figure.scss';
@import './modules/heading.scss';
@import './modules/hr.scss';
@import './modules/link.scss';
@import './modules/list.scss';
@import './modules/image.scss';
@import './modules/paragraph.scss';
@import './modules/quote.scss';
@import './modules/table.scss';

.#{$prefix}-preview {
  color: var(--md-theme-color);

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: var(--md-theme-bg-color-scrollbar-track);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--md-theme-bg-color-scrollbar-thumb);
  }

  ::-webkit-scrollbar-button:vertical {
    display: none;
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--md-theme-bg-color-scrollbar-thumb-hover);
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: var(--md-theme-bg-color-scrollbar-thumb-active);
  }
}
