@use './scss-vars.scss' as vars;
@use './css-vars.scss';

@use './modules/admonition.scss';
@use './modules/mermaid.scss';
@use './modules/katex.scss';
@use './modules/code.scss';
@use './modules/figure.scss';
@use './modules/heading.scss';
@use './modules/hr.scss';
@use './modules/link.scss';
@use './modules/list.scss';
@use './modules/image.scss';
@use './modules/paragraph.scss';
@use './modules/quote.scss';
@use './modules/table.scss';

.#{vars.$prefix}-preview {
  color: var(--md-theme-color);

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: var(--md-theme-bg-color-scrollbar-track);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--md-theme-bg-color-scrollbar-thumb);
  }

  ::-webkit-scrollbar-button:vertical {
    display: none;
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--md-theme-bg-color-scrollbar-thumb-hover);
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: var(--md-theme-bg-color-scrollbar-thumb-active);
  }
}
