@font-face {
  font-family: 'mee-iconfont'; /* Project id 4264396 */
  src: url('iconfont.woff2?t=1698999923474') format('woff2'),
    url('iconfont.woff?t=1698999923474') format('woff'),
    url('iconfont.ttf?t=1698999923474') format('truetype');
}

.mee-iconfont {
  font-family: 'mee-iconfont' !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mee-pdf:before {
  content: '\e83c';
}

.icon-mee-emoji:before {
  content: '\e64a';
}

.icon-mee-mark:before {
  content: '\e664';
}

.icon-mee-tupian:before {
  content: '\e777';
}
