@use '../../../common/scss-vars.scss' as vars;
@use '../scss-vars.scss' as themeVars;

@mixin code-vars($isDark) {
  .#{themeVars.$theme-name} {
    // 行内
    --md-theme-code-inline-color: #f06;
    --md-theme-code-inline-bg-color: var(--area);

    // 块
    --md-theme-code-block-color: var(--text);
    // 背景
    --md-theme-code-block-bg-color: var(--area);
  }
}

.#{vars.$prefix} {
  @include code-vars(false);
}

.#{vars.$prefix}-dark {
  @include code-vars(true);
}

.#{themeVars.$theme-name} {
  code {
    margin: 0 4px;
    word-break: break-word;
    overflow-x: auto;
    position: relative;
    font-size: 0.87em;
    padding: 0.065em 0.4em;
  }

  .md-editor-code {
    border: 1px solid var(--border);

    &::before {
      top: -4px;
      left: -4px;
      width: 20px;
      height: 20px;
      content: '';
      border-top: 8px solid var(--yellow);
      border-left: 8px solid var(--yellow);
      z-index: 10;
      position: absolute;
    }

    &::after {
      right: -4px;
      bottom: -4px;
      width: 20px;
      height: 20px;
      content: '';
      z-index: 10;
      border-right: 8px solid var(--blue);
      border-bottom: 8px solid var(--blue);
      position: absolute;
    }

    pre {
      margin: 0;
      font-family: themeVars.$ak-font;
      position: relative;
      line-height: 1.75 !important;

      code {
        line-height: 1.75 !important;
        font-size: 14px;
        padding: 26px 12px;
        overflow-x: auto;
        margin: 0;
        word-break: normal;
        display: block;
        position: unset !important;
      }

      &:nth-child(2n + 1) {
        &::before {
          border-top-color: var(--green);
          border-left-color: var(--green);
        }
        &::after {
          border-right-color: var(--purple);
          border-bottom-color: var(--purple);
        }
      }
    }
  }

  .code-tabs {
    pre {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
    }
  }
}
