@use '../scss-vars.scss' as themeVars;

.#{themeVars.$theme-name} {
  blockquote {
    padding: 12px 23px 2px;
    border: 1px solid var(--border-blue);
    background-color: var(--area);
    margin: 22px 0;
    position: relative;
    & > p {
      margin: 10px 0;
    }

    &::after {
      content: 'FROM';
      top: 0;
      left: 0;
      width: 40px;
      line-height: 1;
      padding: 2px 0;
      font-size: 12px;
      color: #fff;
      font-weight: lighter;
      position: absolute;
      background-color: var(--blue);
      text-align: center;
      pointer-events: none;
    }

    &::before {
      content: 'CITATION';
      top: 0;
      left: 44px;
      line-height: 1;
      padding: 2px 0;
      font-size: 12px;
      color: var(--blue);
      font-weight: lighter;
      position: absolute;
      pointer-events: none;
    }
  }
}
