@use '../scss-vars.scss' as themeVars;

.#{themeVars.$theme-name} {
  table {
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    background-color: var(--table-bg-color);
    overflow: auto;
    border-collapse: collapse;
    margin-bottom: 1em;

    tr:hover {
      th,
      td {
        border-bottom: 1px solid var(--yellow);
      }
    }
  }
  thead {
    text-align: left;
  }
  tbody {
    tr:nth-child(2n - 1) {
      background-color: themeVars.$bg-color;
    }
  }
  th {
    font-size: 1.2em;
    border-bottom: 1px dashed var(--line);
  }
  th,
  td {
    padding: 12px 7px;
    line-height: 24px;
  }
  td {
    min-width: 120px;
    border-bottom: 1px solid var(--table-bg-color);
  }
}
