$class: 'md';
$darkClass: 'md-dark';

@mixin commonStyle {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: var(--md-scrollbar-bg-color);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--md-scrollbar-thumb-color);
  }

  ::-webkit-scrollbar-button:vertical {
    display: none;
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--md-scrollbar-thumb-hover-color);
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: var(--md-scrollbar-thumb-avtive-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    word-break: break-all;

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  ol {
    > li {
      list-style: decimal;
    }
  }

  ul {
    > li {
      list-style: disc;
    }
  }

  ol,
  ul {
    .li-task {
      list-style-type: none;

      input {
        margin-left: -1.5em;
        margin-right: 0.1em;
      }
    }
  }

  a {
    text-decoration: none;
  }

  pre,
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    font-size: 14px;
    color: rgb(36, 41, 47);
  }

  pre {
    margin: 20px 0;

    code {
      display: block;
      line-height: 1;
      overflow: auto;

      .code-block {
        display: inline-block;
        width: 100%;
        overflow: auto;
        vertical-align: bottom;
      }
    }

    .copy-button {
      color: var(--md-color);
      position: absolute;
      font-size: 12px;
      top: 9px;
      right: 10px;
      cursor: pointer;
      display: none;
    }

    &:hover {
      .copy-button {
        display: initial;
      }
    }
  }

  hr {
    height: 1px;
    margin: 10px 0;
    border: none;
    border-top: 1px solid var(--md-border-color);
  }

  // 包裹的图片按照行显示
  div[inline] {
    & > .figure {
      padding-right: 0.5em;

      img {
        padding: 0;
        border: none;
      }
    }
  }

  .figure {
    margin: 0 0 1em 0;
    display: inline-flex;
    flex-direction: column;
    text-align: center;

    .figcaption {
      color: #888;
      font-size: 0.875em;
      margin-top: 5px;
    }
  }
}
